{{page-title "Bands"}}
{{! In the template belonging to the route,
bands.hbs we can access the array returned from the model hook as @model}}
{{!-- <ul>
  {{#each @model as |band|}}
    <li>{{band.name}}</li>
  {{/each}}
</ul> --}}

{{!-- Pt. 4 {Nested Routing}
Ember has a very neat way of supporting nested (or layered) UIs.
If you define an {{outlet}} in the template of a route, it creates a slot for the
children routes to render their content in. We'll leverage this to
create our band-songs master-detail view. --}}

<div class="w-1/3 px-2">
  <BandList @bands={{@model}} />
  <LinkTo
    @route="bands.new"
    class="inline-block ml-2 mt-2 p-2 rounded bg-purple-600 shadow-md hover:shadow-lg hover:text-white hover:bg-purple-500 focus:outline- none"
    data-test-rr="new-band-button"
  >
    Add band
  </LinkTo>
</div>
<div class="w-2/3 px-2">
  {{outlet}}
</div>